<div class="mb-4">
  <h1>Events in: <%= @category.name %></h1>
  <p class="lead text-muted"><%= @category.description %></p>
</div>

<div class="row">
  <% @events.each do |event| %>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><strong>Venue:</strong> <%= event.venue.name %></p>
          <%= link_to 'View Event', event_path(event), class: 'btn btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Back to Categories', categories_path, class: "btn btn-secondary mt-3" %>
